<h1>迷子猫情報</h1>
<%= form_tag('/posts', method: 'get') do %>
<%= label_tag(:place_key, 'Search place:') %>
<%= text_field_tag(:place_key) %>
<%= submit_tag('検索') %>
<%= link_to 'クリア', post_path %><br>

<div class="button-container">
    <%= link_to "新しい投稿", new_post_path, class: "link-button" %>
</div>

<ul>
    <% @posts.each do |post| %>
        <li>
            <div class="frame">
                <h2 class="left"><%= post.title %></h2>
                <div class="right">
                    <%= link_to "詳細", show_post_path(post) %>            
                    <% if post.user_id == current_user.id %>                
                        <%= link_to "編集", edit_post_path(post) %>
                        <%= link_to "削除", post_path(post), data: {turbo_method: :delete, turbo_confirm: '投稿を削除しますか？'} %>   
                    <% end %>
                </div>
            </div>
            <span>
                <small><%= post.place %></small><br>
                <small><%= post.created_at.strftime('%Y年%m月%d日 %H時%M分') %></small><br>
                <small><%= post.user.name %></small>
            </span>
        </li>
    <% end %>
</ul>