<h1>新しい投稿</h1>

<%= form_with model: @post, html: {class: "form-container"} do |form| %>
    <div class="form-input">
        <%= form.label :title %>
        <%= form.text_field :title, placeholder: title_placeholder %>
    </div>
    <div class="form-input text-area-content">
        <%= form.label :content %>
        <%= form.text_area :content, placeholder: content_placeholder %>
    </div>
    <div class="form-file-uploader">
        <%= form.label :board_image %><br>
        <%= form.file_field :board_image, class: 'form-control mb-3',  accept: 'image/*', onchange: 'previewImage(preview)' %>
        <%= form.hidden_field :board_image_cache %>
    </div>
    <div class="mt-3 mb-3">
        <%= image_tag @post.board_image.url, id: 'preview', size: '300x200' %>
    </div>
    <div class="button-container">
        <%= form.submit "投稿", class: "link-button" %>
    </div>
<% end %>
