<%= javascript_include_tag 'shared/preview.js' %>

<h1>新しい投稿</h1>

<%= form_with model: @post, html: {class: "form-container"} do |form| %>
    <div class="form-input">
        <%= form.label :title %>
        <%= form.text_field :title, placeholder: "例：キジトラを保護しました" %>
    </div>
    <div class="form-input">
        <%= form.label :kind %>
        <%= form.text_field :kind, placeholder: "例：キジトラ" %>
    </div>
    <div class="form-input">
        <%= form.label :date_and_time %>
        <%= form.text_field :date_and_time, placeholder: "例：2023/11/8 19時ごろ" %>
    </div>
    <div class="form-input text-area-content">
        <%= form.label :content %>
        <%= form.text_area :content, placeholder: content_placeholder %>
    </div>
    <div class="form-file-uploader">
        <%= form.label :board_image %><br>
        <%= form.file_field :board_image, accept: 'image/*', onchange: 'previewImage(preview)' %>
        <%= form.hidden_field :board_image_cache %>
    </div>
    <div class="mt-3 mb-3">
        <%= image_tag @post.board_image.url, id: 'preview', size: '300x200' %>
    </div>
    <div class="form-input">
        <%= form.label :place %>
        <%= form.text_field :place, placeholder: "例：東京都新宿区西新宿〇丁目" %>
    </div>
    <div class="button-container">
        <%= form.submit "投稿", class: "link-button" %>
    </div>
<% end %>
