<ul>
    <li>
        <div class="frame">
            <h2 class="title"><%= @post.title %></h2>
            <div class="edit-delete">           
                <% if @post.user_id == current_user.id %>                
                    <%= link_to "編集", edit_post_path(@post) %>
                    <%= link_to "削除", post_path(@post), data: {turbo_method: :delete, turbo_confirm: '投稿を削除しますか？'} %>  
                <% end %>
            </div>
        </div>
        <div class="kind line-height">
            <p><%= "種類: " + @post.kind %></p><br>
        </div>
        <div class="date_and_time line-height">
            <p><%= "発見日時: " + @post.date_and_time %></p><br>
        </div>
        <div class="content line-height">
            <p>詳細:</p><br>
            <p><%= @post.content %></p><br>
        </div>
        <div class="cat_image">
              <%= image_tag @post.board_image.url %><br>
        </div>
        <div class="place line-height">
            <p><%= "発見場所: " + @post.place %></p><br>
        </div>
        <div class="created_at">
            <span>
                <small><%= "投稿日時: " + @post.created_at.strftime('%Y年%m月%d日 %H時%M分') %></small><br>
            </span>
        </div>
        <div>
            <span>
                <small><%= "投稿者: " + @post.user.name %></small>
            </span>
        </div>
        <% if @post.user_id != current_user.id %>
            <div class="button-container" id="message-button">
                <%= link_to '投稿者にメッセージを送る', new_messages_path, class: "link-button" %>
            </div>
        <% end %>
    </li>
</ul>
